* {
    margin: 0;
    padding: 0;
}
body {
    max-width: 100%;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: normal;
    background: $bg-color;
}
a {
    color: $text-color;
    text-decoration: none;
    &:hover {
        color: $main-color;
    }
    &:visited {
        color: unset;
    }
}
ul {
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
}

// Grid Layout
.container {
    max-width: 1680px;
    padding: 0 15px;
    box-sizing: border-box;
    height: 100%;
    margin: 0 auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 0 -15px;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: $placeholder;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: $placeholder;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: $placeholder;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: $placeholder;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color: $placeholder;
}

::placeholder { /* Most modern browsers support this now. */
   color: $placeholder;
}